@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Modal Create Jenis Alat -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true" data-backdrop="static">
    <!-- Isi modal di sini -->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Tambah Jenis Alat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Isi form create Jenis Alat di sini -->
                <form id="createForm">
                    <div class="form-group">
                        <label for="namaJenisAlat">Nama Jenis Alat:</label>
                        <input type="text" class="form-control" id="namaJenisAlat" required>
                    </div>
                    <!-- Tambahkan elemen form lainnya sesuai kebutuhan -->

                    <button type="submit" class="btn btn-primary">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    function submitForm() {
        // Add logic here to handle form submission
        // You may use JavaScript or AJAX to send the form data to the server
        // After successful submission, you can close the modal
        $('#createModal').modal('hide');
    }
</script>


